:root {
  --md-admonition-color--gh-note: #2f81f7;
  --md-admonition-color--gh-warning: #d29922;
  --md-admonition-color--gh-important: #a371f7;
  
  --md-admonition-icon--pages: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M3 2.75A2.75 2.75 0 015.75 0h14.5a.75.75 0 01.75.75v20.5a.75.75 0 01-.75.75h-6a.75.75 0 010-1.5h5.25v-4H6A1.5 1.5 0 004.5 18v.75c0 .716.43 1.334 1.05 1.605a.75.75 0 01-.6 1.374A3.25 3.25 0 013 18.75v-16zM19.5 1.5V15H6c-.546 0-1.059.146-1.5.401V2.75c0-.69.56-1.25 1.25-1.25H19.5z"></path><path d="M7 18.25a.25.25 0 01.25-.25h5a.25.25 0 01.25.25v5.01a.25.25 0 01-.397.201l-2.206-1.604a.25.25 0 00-.294 0L7.397 23.46a.25.25 0 01-.397-.2v-5.01z"></path></svg>');
  --md-admonition-icon--extension: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 11.5H2.938c-.794 0-1.438.644-1.438 1.437v8.313a.75.75 0 0 1-1.5 0v-8.312A2.939 2.939 0 0 1 2.937 10H7V6.151c0-.897.678-1.648 1.57-1.74l6.055-.626 1.006-1.174A1.752 1.752 0 0 1 16.96 2h1.29c.966 0 1.75.784 1.75 1.75V6h3.25a.75.75 0 0 1 0 1.5H20V14h3.25a.75.75 0 0 1 0 1.5H20v2.25a1.75 1.75 0 0 1-1.75 1.75h-1.29a1.75 1.75 0 0 1-1.329-.611l-1.006-1.174-6.055-.627A1.749 1.749 0 0 1 7 15.348Zm9.77-7.913v.001l-1.201 1.4a.75.75 0 0 1-.492.258l-6.353.657a.25.25 0 0 0-.224.249v9.196a.25.25 0 0 0 .224.249l6.353.657c.191.02.368.112.493.258l1.2 1.401a.252.252 0 0 0 .19.087h1.29a.25.25 0 0 0 .25-.25v-14a.25.25 0 0 0-.25-.25h-1.29a.252.252 0 0 0-.19.087Z"></path></svg>');
  
  --md-admonition-icon--gh-note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>');
  --md-admonition-icon--gh-warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path></svg>');
  --md-admonition-icon--gh-important: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path></svg>');
}

.md-typeset .admonition.pages,
.md-typeset details.pages {
  border-color: #fff;
}

.md-typeset .pages > .admonition-title,
.md-typeset .pages > summary {
  background-color: #ffffff1a;
}

.md-typeset .pages > .admonition-title::before,
.md-typeset .pages > summary::before {
  background-color: #fff;
  -webkit-mask-image: var(--md-admonition-icon--pages);
          mask-image: var(--md-admonition-icon--pages);
}

.md-typeset .extensions,
.md-typeset details.extensions {
  border-color: #00c853;
}

.md-typeset .extensions > .admonition-title,
.md-typeset .extensions > summary {
  background-color: #00c8531a;
}

.md-typeset .extensions > .admonition-title::before,
.md-typeset .extensions > summary::before {
  background-color: #00c853;
  -webkit-mask-image: var(--md-admonition-icon--extension);
          mask-image: var(--md-admonition-icon--extension);
}

/*
 * Special admonitions for GitHub's own versions
 */

/*
 * [!NOTE]
 */
.md-typeset .gh-note,
.md-typeset details.gh-note {
  border-color: var(--md-admonition-color--gh-note);
}

.md-typeset .gh-note > .admonition-title,
.md-typeset .gh-note > summary {
  color: var(--md-admonition-color--gh-note);
}

.md-typeset .gh-note > .admonition-title::before,
.md-typeset .gh-note > summary::before {
  background-color: var(--md-admonition-color--gh-note);
  
  -webkit-mask-image: var(--md-admonition-icon--gh-note);
          mask-image: var(--md-admonition-icon--gh-note);
}

/*
 * [!WARNING]
 */
.md-typeset .gh-warning,
.md-typeset details.gh-warning {
  border-color: var(--md-admonition-color--gh-warning);
}

.md-typeset .gh-warning > .admonition-title,
.md-typeset .gh-warning > summary {
  color: var(--md-admonition-color--gh-warning);
}

.md-typeset .gh-warning > .admonition-title::before,
.md-typeset .gh-warning > summary::before {
  background-color: var(--md-admonition-color--gh-warning);
  
  -webkit-mask-image: var(--md-admonition-icon--gh-warning);
          mask-image: var(--md-admonition-icon--gh-warning);
}

/*
 * [!IMPORTANT]
 */
.md-typeset .gh-important,
.md-typeset details.gh-important {
  border-color: var(--md-admonition-color--gh-important);
}

.md-typeset .gh-important > .admonition-title,
.md-typeset .gh-important > summary {
  color: var(--md-admonition-color--gh-important);
}

.md-typeset .gh-important > .admonition-title::before,
.md-typeset .gh-important > summary::before {
  background-color: var(--md-admonition-color--gh-important);
  
  -webkit-mask-image: var(--md-admonition-icon--gh-important);
          mask-image: var(--md-admonition-icon--gh-important);
}

.md-typeset .gh-note,
.md-typeset .gh-warning,
.md-typeset .gh-important,
.md-typeset details.gh-note,
.md-typeset details.gh-warning,
.md-typeset details.gh-important {
  border-width: 0 0 0 .25em;
  border-radius: 0;
  padding: 0;
}

.md-typeset .gh-note > .admonition-title,
.md-typeset .gh-warning > .admonition-title,
.md-typeset .gh-important > .admonition-title,
.md-typeset .gh-note > summary,
.md-typeset .gh-warning > summary,
.md-typeset .gh-important > summary {
  font-weight: 500;
  background-color: transparent;
  
  padding-top: .05rem;
  padding-bottom: 0;
  padding-left: 1.9rem;
  
  font-size: 14px;
}

.md-typeset .gh-note > .admonition-title::before,
.md-typeset .gh-warning > .admonition-title::before,
.md-typeset .gh-important > .admonition-title::before,
.md-typeset .gh-note > summary::before,
.md-typeset .gh-warning > summary::before,
.md-typeset .gh-important > summary::before {
  height: 16px;
  width: 16px;
  
  left: 20px;
  top: 4px;
}

.md-typeset .admonition.gh-note p:not(.admonition-title),
.md-typeset .admonition.gh-warning p:not(.admonition-title),
.md-typeset .admonition.gh-important p:not(.admonition-title) {
  padding-left: .25rem;
}

.md-typeset .admonition.gh-note > :last-child,
.md-typeset .admonition.gh-warning > :last-child,
.md-typeset .admonition.gh-important > :last-child {
  margin-bottom: 0;
}