.md-typeset a {
  color: #3498db;
}

.md-typeset .md-button {
    color: #3498db;
}

.md-typeset .md-button--primary {
    color: var(--md-primary-bg-color);
    background-color: #3498db;
    border-color: #3498db;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 2.4rem;
    height: 2.4rem;
}

.color-merged {
    color: #A371F7;
}

.color-opened {
    color: #3FB950;
}

.color-neutral {
    color: #8B949E;
}

.color-accent-fg {
    color: #58a6ff;
}

.color-attention-fg {
    color: #d29922;
}